@using RockNUG
@model Session

<p>
    @Model.Begin.FormatTimeSpan() - @Model.End.FormatTimeSpan()
    @{
        switch (Model.Type)
        {
            case 2:
                @String.Format("Feature Presentation: {0} by {1} {2}", Model.Title, Model.Speaker.FirstName, Model.Speaker.LastName)
            break;
            case 1:
                @String.Format("Pizza / Announcements")
            break;
            case 0:
                @String.Format("N00b Presentation: {0} by {1} {2}", Model.Title, Model.Speaker.FirstName, Model.Speaker.LastName)
            break;
        }
    }
            
</p>
