@using MADExpoAsync
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MADExpo - @ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <header>
            <img src="~/Content/images/MADExpoLogo.png" />
            <ul id="menu">
                <li>Register</li>
                <li>Sponsors</li>
                <li class="selected">Speakers</li>
                <li>Sessions</li>
                <li>MADKidz</li>
                <li>Venue</li>
                <li>About</li>
            </ul>
        </header>
        <div id="content">
            <h1 id="pageTitle">@ViewBag.Title</h1>
            @RenderBody()
        </div>
        <footer>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
