@using RockNUG
@model Release
@{
    ViewBag.Title = "Home";
}

@if (Model == null)
{
    <h2>Next Release</h2>
    <p>The next release has not been scheduled yet. Got an idea for a session? Submit one @Html.ActionLink("here", "SubmitSession").</p>
}
else
{
    <h2>Next Release @Html.DisplayFor(x => x.Version)</h2>
    @Model.Date.ToLongDateString()
    @Model.Sessions.OrderBy(x => x.Begin).First().Begin.FormatTimeSpan()
    <text>-</text>
    @Model.Sessions.OrderBy(x => x.End).First().End.FormatTimeSpan()
    @Html.DisplayFor(x => x.Sessions)
}
